{{define "base"}}<!DOCTYPE html>
<html>
<head>
    <title>PoliteMail</title>
    <link rel="stylesheet" href="/politemail.css">
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/hogan.js"></script>
    <script type="text/javascript" src="/politemail.js"></script>
</head>
<body>
    <div class="container">
        <h1>PoliteMail</h1>
        {{template "body" .}}

        <footer>
            {{ if .userEmail }}
                {{ .userEmail }} is being polite
                <a href="{{ .logoutURL }}">
                    log out
                </a>
            {{ else }}
                hi
            {{ end }}
        </footer>
    </div>

    <script type="x-template" id="tmpl-option">
        <div class="cell">
            <input type="text" class="form-control" name="option"
                placeholder="Option">
        </div>
    </script>
</body>
</html>{{end}}
