@import "../bower_components/bootstrap/less/bootstrap.less";

.option-grid {
    .make-row();
}

.option-grid .cell {
    .make-md-column(3);
    .make-sm-column(3);
    margin-bottom: 15px;
}

.option-grid .cell button {
    .btn;
    .btn-default;

    width: 100%;
    color: @input-border;
    border-style: dashed;
}

footer {
    text-align: center;
    color: @gray-light;
}

footer a {
    margin-left: 2em;
}
